<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="300">
    <title>پنل مدیریتی - اپل سرویس</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/fonts.css">
</head>
<body>
    
    <a href="/admin/new" id="addUser">+</a>

    <div id="container">
        <div id="containerBox">
            <li class="userContainer mainContainer">
                <p class="imageHandler"></p>

                <p>نام و نام خانوادگی</p>

                <p>کد پرسنلی</p>

                <p>مقام</p>

                <p>ساعت کاری</p>
                
                <p>تاریخ تولد</p>
            </li>

            <ul>
                

                <% users.forEach((u) => { %>
                    <li class="userContainer hover" id="<%=u.codePersoneli%>">
                        <p class="imageHandler">
                            <span class="<%= dutyList.includes(u.codePersoneli) ? "online" : "offline" %>" style="display: block; width: 10px; height: 10px; border-radius: 50%;margin-right: 15px;"></span>
                            <img src="/uploads/<%= (u.profile && u.profile !== "") ? u.profile : "profile.png" %>">
                        </p>

                        <p class="userName"><%= u.firstName %> <%= u.lastName %></p>

                        <p><%= u.codePersoneli %></p>

                        <p><%= (u.userRank) ? u.userRank : "تایین نشده" %></p>

                        <p><%= (u.dutyHours < 10) ? `0${u.dutyHours}` : u.dutyHours %> : <%= (u.dutyMinutes < 10) ? `0${u.dutyMinutes}` : u.dutyMinutes %></p>
                        
                        <p><%= u.birthday %></p>
                    </li>
                <% }) %>
                
            </ul>
        </div>
    </div>

    <script>
        var userContainers = document.querySelectorAll(".userContainer")

        for(let i = 0; i < userContainers.length; i++){
            if(userContainers[i].id){
                userContainers[i].addEventListener("click", () => {
                    window.location.href = window.location.href + "/" + userContainers[i].id
                })
            }
        }
    </script>

</body>
</html>