<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>مشخصات کاربر - اپل سرویس</title>
    <link rel="stylesheet" href="/css/singleUserInformation.css">
    <link rel="stylesheet" href="/css/fonts.css">
</head>
<body>
    <% for(const key in flash){ %>               
        <span role="alert" class="flash">
          <%= flash[key] %>
        </span>
    <% } %>
    <%- include("templates/singleUserInformation-sideBar.ejs") %>
    <div id="dutyInformations">
        <div>
            <h1>ساعات کاری</h1>
        </div>
        <ul class="dutyInformationsHandler <%= (dutyInformation.length != 0) ? "" : "alignCenter" %>" >
            <% if(dutyInformation.length != 0){ %>

                <% let counter = 0 %>
                <% dutyInformation.forEach(d => { %>
                    <%counter++%>
                    <li>
                        <p><small style="color: gray; font-size: 16px;font-weight: 100; margin-right: 13px; border-right: 1px solid rgb(223, 223, 223); padding-right: 13px;line-height: 1px;"><%=(counter < 10) ? "0"+counter : counter%></small> <%=(d.startTime) ? d.startTime : "یافت نشد"%></p>
                        <p><%=(d.endTime) ? d.endTime : "یافت نشد"%></p>
                        <p><%=(d.date) ? d.date : "یافت نشد"%></p>
                    </li>
                <% }) %>

            <% }else{ %>
                <h1 style="color: var(--danger)" >موردی یافت نشد</h1>
            <% } %>

        </ul>
    </div>

    <script src="/js/axios.min.js"></script>
    <script src="/js/singleUserInformation.js"></script>
</body>
</html>