<p id="duty" style="display : none"><%= (isUserOnDuty) ? "on" : "off" %></p>
<div class="rightInformation">

    <div class="topInfo">

        <div class="infoHandler">
            <p><%=userInfo.firstName%> <%=userInfo.lastName%></p>
            <p id="userInformation" style="float: right; color: gray; font-weight: 200;"><%= userInfo.userRank %></p><h3 style="font-weight: 100;color: gray;margin: 0 5px;margin-top:2px;float: right;">·</h3><p style="float: right; color: gray; font-weight: 200"><%=(isUserOnDuty) ? "حاضر در کار" : "غایب در کار"%></p>
        </div>

        <div class="imageHandler">
            <img src="/uploads/<%= userInfo.profile || "profile.png" %>" alt="">
        </div>

    </div>

    <ul class="listItems">
        <li>
            کد پرسنلی
            <p id="personeliCode"><%=userInfo.codePersoneli%></p>
        </li>

        <li>
            تاریخ تولد
            <p><%=userInfo.birthday%></p>
        </li>

        <li>
            ساعت کاری کل
            <p><%=userInfo.dutyHours%> : <%=userInfo.dutyMinutes%></p>
        </li>

        <% let hours = 0 %>
        <% let minutes = 0 %>
        <% dutyInformation.forEach(duty => {if(Number(duty.date.split("/")[1]) == d.month){ %>
            <% if(duty.time){ %>
            <% hours += Number(duty.time.split(" : ")[0]) %>
            <% minutes += Number(duty.time.split(" : ")[1]) %>
            <%}%>
        <% }}) %>

        <% let hoursInYear = 0 %>
        <% let minutesInYear = 0 %>
        <% dutyInformation.forEach(duty => {if(Number(duty.date.split("/")[0]) == d.year) { %>
            <% if(duty.time){ %>
            <% hoursInYear += Number(duty.time.split(" : ")[0]) %>
            <% minutesInYear += Number(duty.time.split(" : ")[1]) %>
            <%}%>
        <% }}) %>

        <% if(minutes >= 60) {hours+=(minutes - (minutes % 60)) / 60; minutes -= minutes - (minutes % 60) } %>
        <% if(minutesInYear >= 60) {hours+=(minutesInYear - (minutesInYear % 60)) / 60; minutesInYear -= minutesInYear - (minutesInYear % 60) } %>

        <li>
            ساعت کاری در این ماه
            <p><%=hours%> : <%=minutes%></p>
        </li>

        <li>
            ساعت کاری در این سال
            <p><%=hoursInYear%> : <%=minutesInYear%></p>
        </li>
    </ul>

    <div style="width: 100%; height: 47px">
        <p id="stopWorking" class="deleteUser primaryBtn" style="width: 48%; font-size: 14px; float: left" >تغییر وضعیت</p>
        <p id="editInformation" class="deleteUser primaryBtn" style="width: 48%; font-size: 14px; float: right">ویرایش اطلاعات</p>
    </div>
    <div style="width: 100%; height: 47px">
        <p id="resetWorkHours" class="deleteUser primaryBtn" style="width: 48%; font-size: 14px; float: left" >ریست ساعت کاری</p>
        <p id="deleteHistory" class="deleteUser primaryBtn" style="width: 48%; font-size: 14px; float: right">حذف تاریخچه کاری</p>
    </div>
    <p id="deleteUser" class="deleteUser" style="margin-top: 3px">حذف کاربر</p>

</div>