<link rel="stylesheet" href="/css/singleUserInformation-morakhasi.css" />

<div id="containerHandlerMorakhasi" style="display: none">
  <div id="mainContainerMorakhasi">
    <p id="closeMorakhasi" class="close">X</p>
    <h1>ثبت مرخصی</h1>

    <form
      id="inputBoxMorakhasi"
      action="/admin/<%=userInfo.codePersoneli%>?action=morakhasi"
      method="post"
    >
      <div
        class="inputBoxHandler"
        style="display: flex; justify-content: center; align-items: flex-start"
      >
        <div class="morakhasi-handler">
          <p>تاریخ شروع</p>
          <div>
            <input
              required
              id="morakhasi-year"
              name="year"
              type="text"
              style="text-align: center; width: 50px"
              value="<%=d.year%>"
            />
            <input
              required
              id="morakhasi-month"
              name="month"
              type="text"
              style="text-align: center; width: 50px"
              value="<%=d.month%>"
            />
            <input
              required
              id="morakhasi-day"
              name="day"
              type="text"
              style="text-align: center; width: 50px"
              value="<%=d.day%>"
            />

            <p style="text-align: center; margin-top: 10px; margin-bottom: 5px">
              تاریخ پایان
            </p>

            <div
              style="
                color: gray;
                display: flex;
                justify-content: space-around;
                margin-left: -10px;
              "
            >
              <input
                required
                id="morakhasi-year2"
                name="year2"
                type="text"
                style="text-align: center; width: 50px"
                value="<%=d.year%>"
              />
              <input
                required
                id="morakhasi-month2"
                name="month2"
                type="text"
                style="text-align: center; width: 50px"
                value="<%=d.month%>"
              />
              <input
                required
                id="morakhasi-day2"
                name="day2"
                type="text"
                style="text-align: center; width: 50px"
                value="<%=Number(d.day) + 1%>"
              />
            </div>
          </div>
        </div>
      </div>

      <button type="submit" id="submitButton">ثبت</button>
    </form>
  </div>
</div>
