<link rel="stylesheet" href="/css/singleUserInformation-edit.css" />
<div id="containerHandler" style="display: none">
  <div id="mainContainer">
    <p id="close" class="close">X</p>
    <h1>ویرایش اطلاعات</h1>

    <form
      id="inputBox"
      action="/admin/<%=userInfo.codePersoneli%>?action=edit"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="inputBoxHandler">
        <div class="column">
          <input
            value="<%=userInfo.lastName%>"
            type="text"
            name="lastName"
            placeholder="نام خانوادگی"
            class="size5"
          />
          <input
            value="<%=userInfo.firstName%>"
            type="text"
            name="firstName"
            placeholder="نام"
            class="size5"
          />
        </div>

        <div class="column">
          <input
            value="<%=userInfo.userRank%>"
            type="text"
            name="rank"
            class="size3"
            placeholder="مقام"
          />
          <input value="<%=userInfo.birthday.split(" / ")[0]%>" type="text"
          name="year" class="size1 c" placeholder="سال"> <input
          value="<%=userInfo.birthday.split(" / ")[1]%>" type="text"
          name="month" class="size1 c" placeholder="ماه"> <input
          value="<%=userInfo.birthday.split(" / ")[2]%>" type="text" name="day"
          class="size1 c" placeholder="روز">
        </div>
        <div class="column">
          <input type="file" name="file" name="" id="" class="size10" />
        </div>
      </div>

      <button type="submit" id="submitButton">ثبت</button>
    </form>
  </div>
</div>
